node_modules
.DS_Store
dist
dist-ssr
*.local
package.json
package-lock.json
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
cert.pem
key.pem
__pycache__
sort.py
todo
allwords_en.txt
allwords_es.txt
wordle.log
.vercel
.vscode