<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/themes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/wordle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/keyboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/tiles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/modals.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wordle.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modals.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/keyboard.js') }}" defer></script>
    <title>Wordle</title>
    <meta content="Wordle" property="og:title" />
    <meta content="Wordle with more word themes" property="og:description" />
    <!-- <meta content="https://embed.com/this-is-the-site-url" property="og:url" /> -->
    <!-- <meta content="https://embed.com/embedimage.png" property="og:image" /> -->
    <!-- <meta content="#43B581" data-react-helmet="true" name="theme-color" /> -->
</head>

<body>
    <header>
        <div id="menu-left">
            <div id="help"></div>
        </div>
        <div id="title">Wordle</div>
        <div id="menu-right">
            <div id="stats">
                <!-- stats on how many guesses they took for each wordle, seperated by language 
                (# of wordles played, win %, win streak, max streak, guess dist.,) (MODAL) -->
            </div>
            <div id="settings"></div>
        </div>
    </header>
    <div id="modals">
        <div id="help-modal" class="modal">
            <div id="help-modal-header" class="modal-header">
                <div></div>
                <div id="help-modal-title" class="modal-title">How To Play</div>
                <div class="modal-close"></div>
            </div>
            <div id="help-modal-content" class="modal-content">
                <p>You have <b>6 (six)</b> tries to guess the WORDLE</p>
                <p>Each guess must be a valid <b>five-letter</b> word. Hit the enter button or enter key to
                    submit.</p>
                <p>After you make a guess, the color of the tiles of your guess will change to indicate how close (or
                    not
                    close) your guess was from the word.</p>

                <br />
                <div id="help-examples">
                    <h3>Examples:</h3>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="w" evaluation="correct" reveal>
                                <div class="tile" data-state="correct" data-animation="idle">w</div>
                            </game-tile>
                            <game-tile letter="e">
                                <div class="tile" data-state="tbd" data-animation="idle">e</div>
                            </game-tile>
                            <game-tile letter="a">
                                <div class="tile" data-state="tbd" data-animation="idle">a</div>
                            </game-tile>
                            <game-tile letter="r">
                                <div class="tile" data-state="tbd" data-animation="idle">r</div>
                            </game-tile>
                            <game-tile letter="y">
                                <div class="tile" data-state="tbd" data-animation="idle">y</div>
                            </game-tile>
                        </div>
                        <p>The letter <b>W</b> is in the word and in the correct spot.</p>
                    </div>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="p">
                                <div class="tile" data-state="tbd" data-animation="idle">p</div>
                            </game-tile>
                            <game-tile letter="i" evaluation="present" reveal>
                                <div class="tile" data-state="present" data-animation="idle">i</div>
                            </game-tile>
                            <game-tile letter="l">
                                <div class="tile" data-state="tbd" data-animation="idle">l</div>
                            </game-tile>
                            <game-tile letter="l">
                                <div class="tile" data-state="tbd" data-animation="idle">l</div>
                            </game-tile>
                            <game-tile letter="s">
                                <div class="tile" data-state="tbd" data-animation="idle">s</div>
                            </game-tile>
                        </div>
                        <p>The letter <b>I</b> is in the word, but is not in the correct spot.</p>
                    </div>
                    <div class="example">
                        <div class="row">
                            <game-tile letter="v">
                                <div class="tile" data-state="tbd" data-animation="idle">v</div>
                            </game-tile>
                            <game-tile letter="a">
                                <div class="tile" data-state="tbd" data-animation="idle">a</div>
                            </game-tile>
                            <game-tile letter="g">
                                <div class="tile" data-state="tbd" data-animation="idle">g</div>
                            </game-tile>
                            <game-tile letter="u" evaluation="absent" reveal>
                                <div class="tile" data-state="absent" data-animation="idle">u</div>
                            </game-tile>
                            <game-tile letter="e">
                                <div class="tile" data-state="tbd" data-animation="idle">e</div>
                            </game-tile>
                        </div>
                        <p>The letter <b>U</b> is not in the word.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="settings-modal" class="modal">
            <div id="settings-modal-header" class="modal-header">
                <div></div>
                <div id="settings-modal-title" class="modal-title">Settings</div>
                <div class="modal-close"></div>
            </div>
            <div id="settings-modal-content" class="modal-content">

                <div id="hard-mode-switch-container" class="setting-container">
                    <div class="setting-label">
                        <label>Hard Mode</label>
                        <h5>Any revealed hints must be used in subsequent guesses</h5>
                        <h6 style="color: rgb(238, 129, 129);">Can only be toggled <b>before</b> starting</h6>
                    </div>
                    <div id="hard-mode-switch" class="switch">
                        <input id="hard-mode-checkbox" type="checkbox">
                        <div></div>
                    </div>
                </div>

                <div id="theme-switch-container" class="setting-container">
                    <div class="setting-label">
                        <label>Theme</label>
                        <h6>Switch between dark and light mode</h6>
                    </div>
                    <div id="theme-switch" class="switch">
                        <input id='theme-checkbox' type="checkbox">
                        <div></div>
                    </div>
                </div>

                <div id="mode-switch-container" class="setting-container">
                    <div class="setting-label">
                        <label>Switch Word Theme</label>
                        <h6>Switch between different languages or themes of words</h6>
                    </div>
                    <div id="mode-switch" class="select">
                        <select id="modes-select">
                            <optgroup label="Languages">
                                <option value="en">English</option>
                                <option value="es">Spanish</option>
                            </optgroup>
                            <optgroup label="Other Modes" disabled>
                                <option value="foods">Foods</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <!-- settings where you can do: 
                    select box for what mode they want to play -->
            </div>
        </div>
        <div id="stats-modal"></div>
    </div>

    <div id="game">
        <div id="msg"></div>
        <div id="board">
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
            <game-row letters="" length="5">
                <div class="row">
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                    <game-tile>
                        <div class="tile" data-state="empty" data-animation="idle"></div>
                    </game-tile>
                </div>
            </game-row>
        </div>
        <div id="keyboard-container">
            <div id="keyboard">
                <div class="k-row">
                    <button data-key="q">q</button>
                    <button data-key="w">w</button>
                    <button data-key="e">e</button>
                    <button data-key="r">r</button>
                    <button data-key="t">t</button>
                    <button data-key="y">y</button>
                    <button data-key="u">u</button>
                    <button data-key="i">i</button>
                    <button data-key="o">o</button>
                    <button data-key="p">p</button>
                </div>
                <div class="k-row">
                    <div class="spacer half"></div>
                    <button data-key="a">a</button>
                    <button data-key="s">s</button>
                    <button data-key="d">d</button>
                    <button data-key="f">f</button>
                    <button data-key="g">g</button>
                    <button data-key="h">h</button>
                    <button data-key="j">j</button>
                    <button data-key="k">k</button>
                    <button data-key="l">l</button>
                    <div class="spacer half"></div>
                </div>
                <div class="k-row">
                    <button data-key="Enter" class="one-and-a-half">enter</button>
                    <button data-key="z">z</button>
                    <button data-key="x">x</button>
                    <button data-key="c">c</button>
                    <button data-key="v">v</button>
                    <button data-key="b">b</button>
                    <button data-key="n">n</button>
                    <button data-key="m">m</button>
                    <button data-key="Backspace" class="one-and-a-half">
                        <div id="backspace"></div>
                    </button>
                </div>
                <div class="k-row accents">
                    <button data-key="á">á</button>
                    <button data-key="é">é</button>
                    <button data-key="í">í</button>
                    <button data-key="ó">ó</button>
                    <button data-key="ú">ú</button>
                    <button data-key="ñ">ñ</button>
                </div>
            </div>

        </div>
    </div>


</body>

</html>