/* modals */
#large-modals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

/* general modal classes */
.modal-close {
    display: flex;
    background: var(--modal-close);
    width: 24px;
    height: 24px;
    transition: background 300ms ease;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    flex-direction: column;
    pointer-events: none;
    user-select: none;

    min-width: 260px;
    width: calc(100vw - 30px);

    min-height: calc(100vh - 60px);

    background-color: var(--full-modal-bkg-color);
    opacity: 0;
    transform: translateY(20px);

    transition: transform 100ms ease,
        height 120ms ease,
        min-height 120ms ease,
        background-color 160ms ease,
        opacity 160ms ease;

    padding: 15px;
    z-index: -2;
}

.modal.open {
    pointer-events: all;
    user-select: auto;
    opacity: 1;
    transform: translateY(0);

    min-height: calc(100vh - 30px);
    height: min-content;
    z-index: 2;
}

.modal-header {
    display: flex;
    justify-content: space-between;

    font-family: Urbanist;
    color: var(--font-color);
    font-size: 22px;

    margin-bottom: 40px;
}

.modal-title {
    margin-left: 25px;
}

.modal-content {
    display: flex;
    position: relative;
    flex-direction: column;

    margin: 0 22.5%;
    font-family: Urbanist;
    font-size: 17px;
}

/* help examples */
#help-modal-content>p {
    margin: 10px 0;
}

#help-examples {
    display: flex;
    flex-direction: column;

    border-top: var(--header-border-bottom);
    border-bottom: var(--header-border-bottom);
}

.example {
    display: inline-flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .modal-content {
        margin: 0 20px;
    }
}

/* toggle switch styles */
.setting-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--header-border-bottom);
    margin-top: 20px;
}

.setting-label h6,
.setting-label h5 {
    font-weight: 100;
    margin: 10px 0 15px 0;
}

.switch {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 20px;

    min-height: 20px;
    min-width: 40px;
    background: var(--theme-back-color);
    border-radius: 10px;

    transition: 300ms ease;

    margin-left: 15px;
    cursor: pointer;
}

.switch input {
    position: absolute;
    left: -5px;
    opacity: 0;
    min-width: 40px;
    min-height: 20px;
    z-index: 1;
    cursor: pointer;
}

.switch input[disabled] {
    cursor: not-allowed;
}

.switch div {
    margin: 0px 1px 0px 1px;
    min-height: 18px;
    min-width: 18px;
    border-radius: 100%;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    transition: all 300ms cubic-bezier(0.6, 0.09, 0.27, 0.96);
    background: var(--theme-switch-color);
    z-index: 0;
}

.switch input:checked+div {
    transform: translateX(20px);
    background: var(--theme-switch-color);
}

#modes-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    padding: 5px;
    margin-left: 15px;
    border-radius: 3px;
    background-color: var(--theme-back-color);
    color: var(--color-tone-7);
    font-family: Urbanist;
}

/* small modal for statistics*/
#small-modals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    user-select: none;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.small-modal {
    display: none;
    flex-direction: column;
    position: absolute;
    pointer-events: all;
    overflow: auto;

    background-color: var(--full-modal-bkg-color);
    border-radius: 15px;

    min-width: 340px;
    width: 60%;
    max-width: 500px;
    min-height: 200px;
    height: 45%;
    max-height: 400px;

    opacity: 0;
    transform: translateY(20px);

    transition: transform 100ms ease,
        background-color 160ms ease,
        opacity 160ms ease;

    margin-top: 20px;
    padding: 20px;
    z-index: 1000;
}

/* TODO: create media query for statistics info 
if width is small enough, push info into a column */

.small-modal.open {
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-height: 210px) {
    #small-modals {
        align-items: flex-start;
    }
}

#stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Urbanist;
    color: var(--font-color);
}

#stats-content>#stats-info,
#stats-content>#stats-dist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-row {
    display: flex;
    flex-direction: row;

    height: min-content;
    margin-bottom: 20px;
}

.stats-row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    margin: 0 20px;
    min-width: 50px;
}

.stats-row h6 {
    font-size: 10px;
    font-weight: 100;
    margin: 5px 0;
}

.stats-row h4 {
    margin: 5px 0;
}

/* guess dist */
#stats-dist {
    width: 80%;
}

#stats-dist h3 {
    margin-bottom: 15px;
    font-weight: 100;
}

#guess-distribution {
    width: 80%;
}

.graph-container {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
}

.graph {
    width: 100%;
    height: 100%;
    padding-left: 4px;
}

.graph-bar {
    height: 100%;
    width: 7%;
    position: relative;
    background-color: var(--color-absent);
    display: flex;
    justify-content: center;
}

.graph-bar.highlight {
    background-color: var(--color-correct);
}

.graph-bar.align-right {
    justify-content: flex-end;
    padding-right: 8px;
}

.num-guesses {
    font-weight: bold;
    color: #fff;
}

.guess {
    text-align: center;
    min-width: 8px;
}

/* other stats like timer, share btn */
#stats-other {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0 25px 0;
    width: 80%;
}

#stats-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Urbanist;
    color: var(--font-color);
}

/* timer */
#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    aspect-ratio: 1;
}
#timer-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    background: var(--timer-back-color);
    border-radius: 100%;
    width: 140px;
    aspect-ratio: 1;
}
#timer-mask {
    z-index: 80;
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--full-modal-bkg-color);
}
#timer-pie {
    z-index: 70;
    width: 140px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    transition: 200ms ease;
    background: conic-gradient(var(--timer-fill-color) 90%, #0000 0);
}
#time-left {
    z-index: 1000;
}
#stats-share {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;

    color: var(--font-color);
    font-family: Urbanist;

    transition: 150ms ease;
    cursor: pointer;

    width: 130px;
    height: 70px;
    border-radius: 10px;
    margin-left: 20px;

    background-color: var(--secondary-color);
}
#stats-share:hover {
    opacity: 0.95;
    transform: scale(0.98);
}
#stats-share:active {
    opacity: 0.9;
    transform: scale(0.95);
}