@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
:root {
    --primary-color: rgb(15, 24, 34);
    --secondary-color: rgb(28, 43, 61);
    --font-color: rgb(200, 229, 255);
    --theme-back-color: hsl(210, 29%, 45%);
    --theme-switch-color: hsl(209, 45%, 26%);
    --header-border-bottom: 1px solid rgb(81, 121, 158);
    --help-button: url(../images/help_icon_light.png) no-repeat center;
    --full-modal-bkg-color: rgb(39, 66, 94);
    --modal-close: url(../images/light_x.png) no-repeat center;
    --stats-button: url(../images/leaderboard-white.png) no-repeat center;
    --settings-button: url(../images/settings-white.png) no-repeat center;
    --msg-bkg-color: var(--full-modal-bkg-color);
    --tile-text-color: hsl(0, 0%, 100%);
    --timer-back-color: var(--secondary-color);
    --timer-fill-color: rgb(97, 127, 165);

    --keyboard-btn-color: rgb(118, 143, 184);
    --keyboard-font-color: rgb(0, 0, 0);
    --backspace-btn: url(../images/backspace-black.png) no-repeat center;

    --color-tone-4: #3a3a3c;
    --color-tone-3: #565758;
    --color-tone-7: #121213;
    --color-tone-1: #ffffff;

    --color-correct: #6aaa64;
    --color-present: #c9b458;
    --color-absent: #3a3a3c;
}

[data-theme="light"] {
    --primary-color: rgb(163, 181, 211);
    --secondary-color: rgb(129, 143, 167);
    --font-color: rgb(1, 4, 8);
    --theme-back-color: hsl(210, 40%, 65%);
    --theme-switch-color: hsl(209, 35%, 35%);
    --header-border-bottom: 1px solid rgb(71, 100, 128);
    --help-button: url(../images/help_icon_dark.png) no-repeat center;
    --full-modal-bkg-color: rgb(194, 209, 224);
    --modal-close: url(../images/dark_x.png) no-repeat center;
    --stats-button: url(../images/leaderboard-black.png) no-repeat center;
    --settings-button: url(../images/settings-black.png) no-repeat center;
    --msg-bkg-color: var(--full-modal-bkg-color);
    --tile-text-color: hsl(0, 0%, 100%);
    --timer-back-color: var(--secondary-color);
    --timer-fill-color: rgb(66, 86, 112);

    --keyboard-btn-color: rgb(15, 24, 34);
    --keyboard-font-color: rgb(255, 255, 255);
    --backspace-btn: url(../images/backspace-white.png) no-repeat center;

    --color-tone-4: #3a3a3c;
    --color-tone-3: #565758;
    --color-tone-7: #121213;
    --color-tone-1: #ffffff;

    --color-correct: #6aaa64;
    --color-present: #c9b458;
    --color-absent: #3a3a3c;
}